/* reset code */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(21, 20, 20);
    color: rgb(16, 209, 16);
    font-family:'Cookie', cursive;
}
.heading{
    text-align: center;
    padding: 10px;
    font-size: 5rem;
    letter-spacing: 3px;
    border-bottom: 3px solid magenta;
}
.cards{
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 1.5rem;
   font-size: 18px;
   flex-wrap: wrap;
}
.card{
    background-color: black;
    width: 23%;
    height: 150px;
    padding: 5px;
    box-shadow: 1px 1px 4px white;
    margin: 20px;
    overflow-y: hidden;
}
.post-title{
    text-align: center;
    font-size: 30px;
}